@page
@using FoodSelling.DTO.Dtos.CustomerSite.ProductDtos
@model FoodSelling.CustomerSite.Pages.Product.GetProductByCateIdModel
@{
    var pageCurrent = (int)ViewData["page"];
    int totalPages = (int)ViewData["totalPages"];
    string sort = (string)ViewData["sort"];
    var products = ViewData["products"] as List<ProductDto>;
}
 <div class="row">
        <div class="d-flex flex-wrap">
            @foreach (var item in products)
            {
                <div class="card-fix">
                    <a asp-page="/Product/GetProductDetail" asp-route-id="@item.ProductId">
                        <img title="@item.ProductName" src="~/img/TraTraiCay.png" class="card-img-top" alt="@item.ProductName">
                    </a>
                    <div class="card-body">
                        @{
                            var name = "";
                            if (item.ProductName.Length < 26)
                            {
                                name = item.ProductName;
                            }
                            else
                            {
                                name = item.ProductName.Substring(0, 25) + "...";
                            }
                        }
                        <h5 class="card-title ms-3" style="font-size: 18px;">@name</h5>
                        <hr>
                        <p class="card-text text-center fs-5" style="color:#e68b24 ;">@string.Format("{0:#,##0.##}₫",
                        @item.Price)</p>
                    </div>
                </div>
            }
        </div>
    </div>
