@page
@model FoodSelling.CustomerSite.Pages.Product.SearchProductModel
@using FoodSelling.DTO.Dtos.CustomerSite.ProductDtos
@{
    var pageCurrent = (int)ViewData["page"];
    int totalPages = (int)ViewData["totalPages"];
    string searchString = (string)ViewData["searchString"];
    string sort = (string)ViewData["sort"];
    var products = ViewData["products"] as List<ProductDto>;
}
<div style="background-image: url(https://phuclong.com.vn/images/background/bg_tealeaf.svg); background-repeat: repeat">
 <div class="container">
    <div class="row">
         <div class="btn-group float-end" style="width: 15%!important; margin-bottom: 20px;">
            @switch (sort)
            {
                case "price":
                    <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                        Sắp xếp: Giá tăng dần
                    </button>
                    break;
                case "price_desc":
                    <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                        Sắp xếp: Giá giảm dần
                    </button>
                    break;
                case "name":
                    <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                        Sắp xếp: Tên a-z
                    </button>
                    break;
                case "name_desc":
                    <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                        Sắp xếp: Tên z-a
                    </button>
                    break;
                default:
                    <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                        Sắp xếp
                    </button>
                    break;
            }
            <ul class="dropdown-menu">
                <li>
                    <a a class="dropdown-item" asp-page="/Product/SearchProduct" asp-route-searchString="@searchString" asp-route-sortorder="price"
                        asp-route-pageCurrent="1">Giá tăng dần
                    </a>
                </li>
                <li>
                    <a a class="dropdown-item" asp-page="/Product/SearchProduct" asp-route-searchString="@searchString" asp-route-sortorder="price_desc"
                        asp-route-pageCurrent="1">Giá giảm dần
                    </a>
                </li>
                <li>
                    <a a class="dropdown-item" asp-page="/Product/SearchProduct" asp-route-searchString="@searchString" asp-route-sortorder="name"
                        asp-route-pageCurrent="1">Tên a-z
                    </a>
                </li>
                <li>
                    <a a class="dropdown-item" asp-page="/Product/SearchProduct" asp-route-searchString="@searchString" asp-route-sortorder="name_desc"
                        asp-route-pageCurrent="1">Tên z-a
                    </a>
                </li>
            </ul>
        </div>
    </div>
        <div class="d-flex flex-wrap">
        @foreach (var item in products)
        {
            <div class="card-fix">
                <a asp-page="/Product/GetProductDetail" asp-route-id="@item.ProductId">
                    <img title="@item.ProductName" src="~/img/@item.Image" class="card-img-top" alt="@item.ProductName" asp-append-version="true">
                </a>
                <div class="card-body">
                    @{
                        var name = "";
                        if (item.ProductName.Length < 26)
                        {
                            name = item.ProductName;
                        }
                        else
                        {
                            name = item.ProductName.Substring(0, 25) + "...";
                        }
                    }
                <h5 class="card-title" style="font-size: 18px;">@name</h5>
                <hr>
                <div class="row card-bottom">
                <p class="card-text text-center fs-5 col" style="color:#0C713D; margin: 4px 0px; font-weight: 700;">
                     @string.Format("{0:#,##0.##}₫", @item.Price)</p>
                <button class="col btn-addtocart-index ajax-btn-addtocart" data-id="@item.ProductId" type="submit">Đặt ngay</button>
                </div>
            </div>
        </div>
        }
        </div>
@if (totalPages == 1)
{

}
else if (pageCurrent == 1)
{
    <nav aria-label="...">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
            <span class="page-link">Trước</span>
            </li>
            @for (int i = 1; i <= totalPages; i++)
            {
                @if (i == pageCurrent)
                {
                    <li class="page-item active"> 
                        <span class="page-link">
                    @i
                        <span class="sr-only">(current)</span>
                    </span></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-page="/Product/ProductIndex"
            asp-route-sortorder="@sort" asp-route-pagecurrent="@i">@i</a></li>
                }
            }  
            <li class="page-item">
            <a class="page-link" asp-page="/Product/ProductIndex"
                 asp-route-sortorder="@sort" asp-route-pagecurrent="@(pageCurrent + 1)">Sau</a>
            </li>
        </ul>
    </nav>
}
else if (pageCurrent == totalPages)
{
        <nav aria-label="...">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                 <a class="page-link" asp-page="/Product/ProductIndex"
                 asp-route-sortorder="@sort" asp-route-pagecurrent="@(pageCurrent - 1)">Trước</a>
            </li>
            @for (int i = 1; i <= totalPages; i++)
            {
                @if (i == pageCurrent)
                {
                    <li class="page-item active"> 
                        <span class="page-link">
                    @i
                        <span class="sr-only">(current)</span>
                    </span></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-page="/Product/ProductIndex"
            asp-route-sortorder="@sort" asp-route-pagecurrent="@i">@i</a></li>
                }
            }  
            <li class="page-item disabled">
            <span class="page-link">Sau</span>
            </li>
        </ul>
    </nav>
}
else
{
        <nav aria-label="...">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                 <a class="page-link" asp-page="/Product/ProductIndex"
                 asp-route-sortorder="@sort" asp-route-pagecurrent="@(pageCurrent - 1)">Trước</a>
            </li>
            @for (int i = 1; i <= totalPages; i++)
            {
                @if (i == pageCurrent)
                {
                    <li class="page-item active"> 
                        <span class="page-link">
                    @i
                        <span class="sr-only">(current)</span>
                    </span></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-page="/Product/ProductIndex"
            asp-route-sortorder="@sort" asp-route-pagecurrent="@i">@i</a></li>
                }
            }  
            <li class="page-item">
             <a class="page-link" asp-page="/Product/ProductIndex"
                 asp-route-sortorder="@sort" asp-route-pagecurrent="@(pageCurrent + 1)">Sau</a>
            </li>
        </ul>
    </nav>
}
 </div>
</div>
@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script asp-append-version="true">
        $(document).ready(function(){
            $(".ajax-btn-addtocart").click(function(){
                $.ajax({
                    url: "/Cart/AddToCartUsingAjax",
                    type: 'POST',
                    data: {
                        id: $(this).data("id"),
                    },
                    success: function(data){
                        console.log(data);
                        Swal.fire({
                            icon: 'success',
                            title: 'Thêm vào giỏ hàng thành công',
                            showConfirmButton: false,
                            timer: 1500
                            })
                        var countItem = JSON.parse(data.countItem);
                        $(".count-total-cart").html(parseInt(countItem, Number));
                    },
                    error: function(data){
                        console.log(data);
                        Swal.fire({
                            icon: 'error',
                            title: 'Vui lòng thử lại',
                            showConfirmButton: false,
                            timer: 1500
                            })
                    },
                });
            });
        });
    </script>
}