@page
@model FoodSelling.CustomerSite.Pages.Cart.ShoppingCartModel
@{
  double total = 0;
}
<div class="container px-3 my-5 clearfix">
  <!-- Shopping cart table -->
  <div class="card">
    <div class="card-header">
      <h2>Giỏ hàng</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered m-0">
          <thead>
            <tr>
              <!-- Set columns width -->
              <th class="text-center py-3 px-4" style="min-width: 400px;">Sản phẩm</th>
              <th class="text-right py-3 px-4" style="width: 100px;">Giá</th>
              <th class="text-center py-3 px-4" style="width: 120px;">Số lượng</th>
              <th class="text-right py-3 px-4" style="width: 100px;">Tổng tiền</th>
              <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#"
                  class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i
                    class="ino ion-md-trash"></i></a></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model.cart)
            {
              total = total + @item.Total;
              <tr>
                <td class="p-4">
                  <div class="media align-items-center">
                    <img src="~/img/@item.Product.Image" class="d-inline-block ui-w-40 ui-bordered mr-4" alt="@item.Product.ProductName" style="max-width: 48px; margin-right: 10px;">
                      <a asp-page="/Product/GetProductDetail" asp-route-id="@item.Product.ProductId" class="d-inline-block text-dark fs-5" style="text-decoration: none;">@item.Product.ProductName</a>
                    <div class="media-body">
                      <small>
                        <span class="text-muted ms-3">Đơn vị: @item.Product.Unit</span> 
                      </small>
                    </div>
                  </div>
                </td>
                <td class="text-right font-weight-semibold align-middle p-4">@string.Format("{0:#,##0.##}₫", @item.Product.Price)</td>
                <td class="align-middle p-4"><input id="@($"item-quantity-{@item.Product.ProductId}")" data-id="@item.Product.ProductId" type="number" class="form-control text-center item-quantity" min="1" value="@item.Quantity"></td>
                <td class="text-right font-weight-semibold align-middle p-4"><span id="@($"item-total-{@item.Product.ProductId}")">@string.Format("{0:#,##0.##}₫", @item.Total)</span></td>
                <td class="text-center align-middle px-0">
                  @* <a asp-page="ShoppingCart" asp-page-handler="RemoveItem" asp-route-id="@item.Product.ProductId" class="shop-tooltip close float-none text-danger"
                  title="" data-original-title="Remove">X</a> *@
                  <span id="@($"item-btn-delete-{@item.Product.ProductId}")" data-id="@item.Product.ProductId" data-productname="@item.Product.ProductName" class="shop-tooltip close float-none text-danger item-delete" href="">X</span>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <!-- / Shopping cart table -->

      <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
        <div class="d-flex">
          <div class="text-right mt-4 ">
            <label class="text-muted font-weight-normal m-0">Tổng tiền</label>
            <div class="text-large"><span class="total-pay">@string.Format("{0:#,##0.##} ₫", @total)</span></div>
          </div>
        </div>
      </div>

      <div class="float-right">
        <a type="button" id="btn-payment" class="btn btn-pay btn-danger mt-2" style="float:right ;">Tiến hành thanh toán</a>
        <a asp-page="/Product/ProductIndex" type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3" style="float: left;">Trở lại</a>
      </div>

    </div>
  </div>
</div>

@section scripts{
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script asp-append-version="true">
   $(document).ready(function (){
     $(".item-quantity").change(function (){
        $.ajax({
          url: "/Cart/IncreaseItemInCart",
          type: 'POST',
          data: {
              id: $(this).data("id"),
              quantity: $("#item-quantity-"+ $(this).data("id")).val(),
          },
          success: function(data) {
            console.log(data);
            $("#item-total-"+ parseInt(data.id)).html(new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(parseInt(data.total, Number)));
            $(".total-pay").html(new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(parseInt(data.totalToPay, Number)));
            var countItem = JSON.parse(data.countItem);
            $(".count-total-cart").html(parseInt(countItem, Number));
          },
          error:{
          }
        });
      });
      $(".item-delete").click(function(){
          Swal.fire({
          title: 'Bạn muốn xoá?',
          text: $(this).data("productname"),
          icon: 'warning',
          showCancelButton: true,
          cancelButtonText: 'Không',
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Xoá'
        }).then((result) => {
          if(result.isConfirmed)
          {
              $.ajax({
              url:"/Cart/DeleteItemInCart",
              type: 'POST',
              data: {
                id: $(this).data("id"),
              },
              success: function(data){
                 Swal.fire({
                  title: 'Xoá',
                  text: 'Bạn đã xoá thành công.',
                  icon: 'success',
                  showConfirmButton: true
                 }).then((result) =>{
                  if(result.isConfirmed)
                    location.href = "/Cart/ShoppingCart"
                 })
              },
              error: function(){
                Swal.fire('Xoá thất bại');
              }
              })
          }
        });
      });
   }); 
    $(document).ready(function(){
      $(".item-quantity").keydown(function (event){
        event.preventDefault();
      });
    });

    $(document).ready(function(){
      $("#btn-payment").click(function(){
        $.ajax({
          url: "/Cart/CheckCart",
          type: "POST",
          success: function(data) {
            console.log(data);
            if(data.result == false)
            {
              Swal.fire('Giỏ hàng trống');
            }
            else
            {
               $.ajax({
                    url: "/Session/CheckUserLogin",
                    type: 'POST',
                    success: function(data){
                        console.log(data);
                        if(data.result == false)
                        {
                            location.href="/Auth/Login"
                        }
                        else
                        {
                            location.href="/Cart/Checkout"
                        }
                    }
                });
            }
          },
          error:function(){
              Swal.fire('Lỗi');
          }
        });
      });
    });
  </script>
}